<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 12px;
            text-align: left;
            min-width: 200px;
            word-wrap: break-word;
        }
        .content {
            max-width: 800px;
            margin: auto;
            align-content: center;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}
        th{
            text-align: center}
    </style>
</head>
<body>
<div class="content">
<h2 style="text-align: center; font-weight: bold">List page</h2>
<table>
    <tr style="text-align: center; font-weight: bold">
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
    </tr>
</table>
    <form style="text-align: center" method ="get" th:action="@{/book-form}">
        <input class="btn btn-default" type="submit" value="Add a new book"/>
    </form>
</div>
</body>
</html>